@import url('https://fonts.googleapis.com/css?family=Audiowide|Tektur|Silkscreen');

/*----------------------------------*/
/*----------------------------------*/
/*----------------------------------*/
/*-------------- HOME --------------*/
/*----------------------------------*/
html {
    background-color: black;
}

h2 {
   font-family: Audiowide, "Trebuchet MS", sans-serif;
   color: #63e74f;
}

p {
    font-family: Tektur, "Courier New", sans-serif;
    color: #fbff06;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*----------------------------------*/
/*-------------- main --------------*/
#home-div-content {
    display: flex; 
    flex-direction: column; 
    flex-grow: 1; 
    height: 100%;
}

#navigation_txt_activities_on_home {
    color: #fbff06;
    text-shadow: 1px 1px 0px red;
}
 
#navigation_txt_home_on_home {
    color: #30ea33;
    text-shadow: 1px 1px 0px rgb(255, 196, 0);
}

#navigation_txt_attractions_on_home {
    color: #c824c0;
    text-shadow: 1px 1px 0px rgb(0, 217, 255);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    height: 100%;
    width: 100%;
}

section h2 {
    width: 90%;
    text-align: center;
    font-size: 2vw;
}

.nav-activities_page, .nav-home_page, .nav-attractions_page {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    align-self: center;
    justify-self: center;
}

#activities_icon, #home_icon, #attractions_icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.5s ease-in-out;
}

#home_icon {
    width: 50%;
    height: 50%;
}

.z_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
}

#activities_icon {
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/2;    
}

.overlay {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 40%;
}

@keyframes rainbow {
    0% {
        background: rgba(255, 0, 0, 0.4)
    }
    14% {
        background: rgba(255, 165, 0, 0.4)
    }
    28% {
        background: rgba(255, 255, 0, 0.4)
    }
    42% {
        background: rgba(0, 128, 0, 0.4)
    }
    57% {
        background: rgba(0, 0, 255, 0.4)
    }
    71% {
        background: rgba(75, 0, 130, 0.4)
    }
    85% {
        background: rgba(128, 0, 128, 0.4)
    }
    100% {
        background: rgba(255, 0, 0, 0.4)
    }
}
.overlay:hover {
    animation: rainbow 1s ease-in-out forwards infinite; /* Apply circular motion on hover */
}


@keyframes rotateIcon {
    0% {
        transform: rotate(0deg); /* Initial state */
    }
    25% {
        transform: rotate(30deg); /* Rotate 10deg to the right */
    }
    50% {
        transform: rotate(-30deg); /* Rotate back 10deg to the left */
    }
    75% {
        transform: rotate(30deg); /* Rotate back to the right 10deg */
    }
    100% {
        transform: rotate(0deg); /* Return to the initial state */
    }
}
#home_icon:hover {
    animation: rotateIcon 1s ease-in-out; /* Apply the cumulative rotation over 1 second */
}

@keyframes enlarge {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
#attractions_icon:hover {
    animation: enlarge 1s ease-in-out;
}

.home-main-grid {
    width: 100%;
    height: 100%;
    background-image: url('../images/nav_screen_background.png');
    background-repeat: repeat;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, min(32vw, 32vh));
    grid-template-rows: repeat(3, min(32vw, 32vh));
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.nav-activities_page {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    align-self: center;
    justify-self: center;
}

#big_logo {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

#big_logo img {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}

.nav-home_page {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.nav-attractions_page {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    align-self: center;
    justify-self: center;
}
/*-------------- main --------------*/
/*----------------------------------*/

/*----------------------------------*/
/*------------- footer -------------*/
footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

footer p {
    color: #af0505;
    padding-left: 40px;
}

footer a {
    font-family: Silkscreen;
    color: #00ddff;
    text-decoration: none;

}

footer a:hover {
   color: #9de7f3;
   text-decoration: underline;

}
/*------------- footer -------------*/
/*----------------------------------*/

/*----------------------------------*/
/*-------------- HOME --------------*/
/*----------------------------------*/
/*----------------------------------*/
/*----------------------------------*/






/*----------------------------------*/
/*----------------------------------*/
/*----------------------------------*/
/*----------- Activities -----------*/
/*----------------------------------*/

/*----------------------------------*/
/*------------- header -------------*/
header {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgba(252, 7, 7, 0.7);
    padding: 12px;
    display: grid;
    justify-content: start;
    grid-template-columns: 100px 200px 100px;
    transition: width 0.5s ease, height 0.5s ease;
}

header:hover {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(5, 5, 5, 0.5);
}

header a {
    display: none;
    align-self: center;
    justify-self: center;
}

header:hover a {
    display: block;
}

header:hover .z_grid-header {
    display: grid;
}

#home_icon-header {
    width: 80%;
}

.navigation_img-header {
    margin: 0px 10px 0px 10px;
}

#overlay-header {
    position: relative;
}

.z_grid-header {
    width: 182px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative;
}

#activities_icon-header {
    z-index: 0;
    grid-column: 1/2;
    grid-row: 1/2;    
}

@keyframes rotateIcon_header {
    0% {
        transform: rotate(0deg); /* Initial state */
    }
    25% {
        transform: rotate(10deg); /* Rotate 10deg to the right */
    }
    50% {
        transform: rotate(-10deg); /* Rotate back 10deg to the left */
    }
    75% {
        transform: rotate(10deg); /* Rotate back to the right 10deg */
    }
    100% {
        transform: rotate(0deg); /* Return to the initial state */
    }
}
#home_icon-header:hover {
    animation: rotateIcon_header 1s ease-in-out; /* Apply the cumulative rotation over 1 second */
}

@keyframes enlarge_header {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}
#attractions-header:hover {
    animation: enlarge_header 1s ease-in-out;
}

@keyframes rainbow_header {
    0% {
        background: rgba(255, 0, 0, 0.2)
    }
    14% {
        background: rgba(255, 165, 0, 0.2)
    }
    28% {
        background: rgba(255, 255, 0, 0.2)
    }
    42% {
        background: rgba(0, 128, 0, 0.2)
    }
    57% {
        background: rgba(0, 0, 255, 0.2)
    }
    71% {
        background: rgba(75, 0, 130, 0.2)
    }
    85% {
        background: rgba(128, 0, 128, 0.2)
    }
    100% {
        background: rgba(255, 0, 0, 0)
    }
}
#overlay-header:hover {
    animation: rainbow_header 1.5s ease-in-out forwards; /* Apply circular motion on hover */
}
/*------------- header -------------*/
/*----------------------------------*/

/*----------------------------------*/
/*-------------- main --------------*/
#activities-div-content {
    background-image: url('../images/nav_screen_background.png');
    background-repeat: repeat;
}

.activities_h1 {
    font-family: Audiowide, "Trebuchet MS", sans-serif;
    color: #fbff06;
    text-shadow: 2px 2px 0px red;
    background-color: rgba(5, 5, 5, 0.938);
    text-align: center;
}

.activities-main-grid {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, min(40vw, 40vh));
    grid-template-rows: repeat(3, min(40vw, 40vh));
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.basketball {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.boarding {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.golf {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.climb {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.room {
    grid-column: 3/4;
    grid-row: 3/4;
    width: 100%;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.basketball, .boarding, .golf, .climb, .room {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.879);
    border-radius: 15px;
}

.basketball img, .boarding img, .golf img, .climb img, .room img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: contain;
}
/*-------------- main --------------*/
/*----------------------------------*/

/*----------------------------------*/
/*----------- Activities -----------*/
/*----------------------------------*/
/*----------------------------------*/
/*----------------------------------*/






/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*----------- Attractions -----------*/
/*-----------------------------------*/

/*----------------------------------*/
/*-------------- main --------------*/
 .attractions_h1 {
    font-family: Audiowide, "Trebuchet MS", sans-serif;
    color: #c824c0;
    text-shadow: 2px 2px 0px rgb(0, 217, 255);
    background-color: rgba(5, 5, 5, 0.938);
    text-align: center;
}

#attractions-div-content {
    background-image: url('../images/nav_screen_background.png');
    background-repeat: repeat;
}

.slideshow-container {
    width: 80%; 
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.slideshow-container p {
    color: #30ea33;
    place-self: center;
}

.my_slides {
    display: none;
    padding: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-self: center;
    align-items: center;
    border-radius: 15px;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.879);
    text-align: center;
}

.my_slides img {
    width: 30%;
    height: 30%;
    object-fit: cover;
}

#asteroid {
    width: 45%;
    object-fit: cover;
}
.prev, .next {
    cursor: pointer;
    /* position: absolute;
    top: 50%; Vertical center 
    width: auto; */
    padding: 16px;
    color: #c824c0;
    font-weight: bold;
    font-size: 2em;
    user-select: none;
}

.prev {
    left: 0; /* Position left */
}

.next {
    right: 0; /* Position right */
}

.prev:hover, .next:hover {
    color: rgb(0, 217, 255);
}

#asteroid_p, #venus_p, #comet_p {
    height: 60px;
    width: 45%;
    /* overflow-y: auto; */
    margin: auto;
    text-align: center;
}
/*-------------- main --------------*/
/*----------------------------------*/

/*-----------------------------------*/
/*----------- Attractions -----------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
@media screen and (max-width: 900px) {
    #asteroid_p, #venus_p, #comet_p {
        height: 60px;
        width: 45%;
        overflow-y: auto;
        margin: auto;
        text-align: center;
    }
}