@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Permanent+Marker:ital,wght@0,400;0,700;1,400&display=swap');

/*----------------------------------*/
/*-------------- body --------------*/
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
/*-------------- body --------------*/
/*----------------------------------*/



/*------------------------------------*/
/*-------------- header --------------*/
header {
    background: linear-gradient(to bottom right, #396E94, white, #A42212);
}

nav a {
    text-align: center;
    background: linear-gradient(to bottom right, #396E94, #02375d);
    color: white;
    text-decoration: none;
    padding: 4px 7px;
    font-size: 1.15em;
    font-family: Kavoon;
    border-radius: 5px;
    margin: 5px 0px 3px 0px;

}

nav a:hover {
    background: linear-gradient(to bottom right, #4c0900, #ca2a15);
    color: white;
}

.logo {
    width: 180px;
}
/*-------------- header --------------*/
/*------------------------------------*/



/*----------------------------------*/
/*-------------- hero --------------*/
#hero-box {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: Kavoon;
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: #6a21a6;
    color: #68d9f8;
    text-decoration: none;
    font-family: Kavoon;

}

.book:hover, .join:hover {
    background-color: #581a8b;
    color: #5cc1de;
}

.home-title {
    color: #396E94;
}

h4 {
    color: #396E94;
}
/*-------------- hero --------------*/
/*----------------------------------*/



/*----------------------------------*/
/*-------------- main --------------*/
main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #396E94;
}

.msg {
    background-color: #396E94;
}

.msg h2 {
    color: white;
    font-family: "Kavoon";
}

.msg p {
    color: white;
    font-family: Permanent Marker, Helvetica, sans-serif;
}

.icon {
    width: 80px;
}

.card-img {
    width: 680px;
    height: 480px;
}

.card-txt {
    font-family: Permanent Marker, Helvetica, sans-serif;
}
/*-------------- main --------------*/
/*----------------------------------*/



/*------------------------------------*/
/*-------------- footer --------------*/
footer {
    background-color: black;
    color: white;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #4cc4fb;
    text-decoration: none;
}

footer a:hover {
    color: #44afe0;
}

.social-icon {
    width: 5%;
    margin: 3px 10px 5px 10px;
    /* margin-bottom: 10px; */

}

/* .social-icon:hover {
    border-style: solid;
    border-color: #ca2a15;
} */

#first-sm-icon {
    margin-left: 20px;
}
/*-------------- footer --------------*/
/*------------------------------------*/







/* make the freaking change */